.inscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-more-info;
    width: 1240px;
    margin: 5rem auto;
    padding: 4rem;
    border-radius: 20px;
    
    

    .message {
        h3 {
            text-transform: uppercase;
            color: #c7c7c7;
            font-weight: 400;
            margin-bottom: 10px;
        }
        h1 {
            font-family: $font-3;
            color: #fff;
        }
    }

    .inscription-button {
        display: flex;
        align-items: center;
        background-color: $color-bouton-more-info;

    }
   
}